h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: darkslateblue;
}

h3{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    font-size: x-large;
}


body {
    background-color: #c5e1eb;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.resume {
    text-align: left;
    color:rgb(248, 141, 114);
    padding: 5%;
    font-family: 'Times New Roman', Times, serif;
  
}

p {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  padding: 35px;
}

.webpage {
  font-size: medium;
}

.project {
  font-size: medium;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.card {
max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 20px;
  background-color:rgb(238, 185, 229);
}

.gmail {
  text-align: center;
}

